$String: "HelloWorld!"; 
$Number: 52; 
        $Float: 2.01; 
$Bool: true; 


@if ($Number > 52) { 
    $test 
} @else if ($Number > 52) { 
    $test 
} @else { 
    $test 
} 

@for $a from 0 through 2 { 
    $action 
} 
